{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Liste des praticiens
{% endblock %}

{% block content %}

	<div class="bg-blue-300 m-10 border-2 border-gray-500">

		<div class="grid grid-cols-8">
			<p class="p-2 text-lg">
				Trier par :
			</p>

			<div class="flex items-center gap-5 col-span-7">
				<a class="transition duration-500 bg-blue-600 hover:bg-blue-700 text-gray-200 p-1 mr-3 flex justify-center rounded-md w-full" href={{ path('praticienconf')}}>Confiance</a>
				<a class="transition duration-500 bg-blue-600 hover:bg-blue-700 text-gray-200 p-1 mr-3 flex justify-center rounded-md w-full" href="">Temps écoulé</a>
				<a class="transition duration-500 bg-blue-600 hover:bg-blue-700 text-gray-200 p-1 mr-3 flex justify-center rounded-md w-full" href={{ path('praticiennot')}}>Notoriété</a>
			</div>
		</div>

		<div
			class="grid grid-cols-4 m-5 bg-white p-2 border-2 border-gray-400">
			<!-- 1 -->
			<div>
				<div class="flex justify-center border-b border-l border-t border-r border-gray-700">
					<p>Nom</p>
				</div>
				<!-- foreach -->
				{% for praticien in praticiens %}

					<div class="flex justify-center border-b border-l border-r border-gray-700">
						<p>{{praticien.nom}}</p>
					</div>
				{% endfor %}
			</div>
			<!-- 2 -->

			<div>
				<div class="flex justify-center border-b border-t border-gray-700">
					<p>Ville</p>
				</div>
				<!-- foreach -->
				{% for praticien in praticiens %}
					<div class="flex justify-center border-b border-gray-700">
						<p>{{praticien.ville}}</p>
					</div>
				{% endfor %}
			</div>

			<!-- 3 -->
			<div>
				<div class="flex justify-center border-l border-r border-b border-t border-gray-700">
					<p>Coeff Notoriété</p>
				</div>
				<!-- foreach -->
				{% for praticien in praticiens %}
					<div class="flex justify-center border-l border-r border-b border-gray-700">
						<p>{{praticien.coefNotoriete}}</p>
					</div>
				{% endfor %}
			</div>

			<!-- 4 -->
			<div>
				<div class="flex justify-center border-b border-t border-r border-gray-700">
					<p>Coeff Confiance</p>
				</div>
				<!-- foreach -->
				{% for praticien in praticiens %}
					<div class="flex justify-center border-b border-r border-gray-700">
						<p>{{praticien.coefConfiance}}</p>
					</div>
				{% endfor %}
			</div>

		</div>

	</div>
{% endblock %}
